{% if content %}
<section {{ attributes.addClass('dashbord-shard') }}>
	<div class="container-fluid">
		<div class="row">
			<aside class="main-sidebar col px-0 ">
				<div class="main-navbar">
					<nav
						class="navbar align-items-stretch navbar-light  flex-md-nowrap border-bottom p-0">
						<div class="navbar-brand w-100 mr-0" style="line-height: 25px">
							{% if content.logo %}
							<div class=""
								{{ region_attributes.logo.addClass(['d-table','m-auto']) }}>
								{{ content.logo }}
							</div>
							{% endif %}
							</adiv 
						<div class="toggle-sidebar d-sm-inline d-md-none d-lg-none"> <i
							class="material-icons">&#xE5C4;</i>
						</div>
					
					</nav>
				</div>
				{% if content.aside %}
				<div {{ region_attribtes.aside.addClass(['w-100','sticky-top']) }}>
					{{ content.aside }}
				</div>
				{% endif %}
			</aside>
			<main class="main-content col px-0">
				<div class="main-navbar sticky-top ">
					<nav
						class="navbar align-items-stretch navbar-light flex-md-nowrap p-0 w-100">
						<div class="row w-100 align-items-center">
							{% if content.branding %}
							<div {{ region_attributes.branding.addClass(['col-md-3','branding']) }}>
								{{ content.branding }}
							</div>
							<div {{ region_attributes.search.addClass(['col','ml-auto']) }}>
								{{ content.search|layout_value }}
							</div>
							{% endif %}
							{% if content.infos_user %}
							<div {{ region_attributes.infos_user.addClass(['col','col-auto','ml-auto','d-flex','justify-content-end','align-items-center']) }}>
    							<div class="btn-group" role="group">
    								<a type="button" class="dropdown-toggle"
    									data-toggle="dropdown" aria-expanded="false"> <i class="fas fa-user"></i>
    								</a>
    								<div class="dropdown-menu">
    									{{ content.infos_user }}
    								</div>
    							</div>
							</div>
							{% endif %}
						</div>
					</nav>
				</div>
				<div class="main-content-container container-fluid">
					<!-- Page Header -->
					<div class="page-header row no-gutters py-4 h2">
						<div class="col-12 col-sm-4 text-center text-sm-left ">
							<span class="text-uppercase page-subtitle">Dashboard</span>
						</div>
					</div>
					<!-- contents -->
					{% if content.contents %}
					<div {{ region_attributes.contents.addClass(['contents']) }}>
						{{ content.contents }}
					</div>
					{% endif %}
				</div>
			</main>
		</div>
	</div>
</section>
{% endif %}